<b><u><h1>Python Commands

In [1]:
print('Hello World')

Hello World

<b><u><h1>Variables in Python

In [2]:
x=12
print(x)

12

In [3]:
type(x)

int

In [5]:
y="Data Analyst"
print(y)

Data Analyst

In [6]:
x,y,z = 'Chocolate', 'Vanilla', 'Strawberry'
print(x)
print(y)
print(z)

Chocolate
Vanilla
Strawberry

In [7]:
x=y=z = 'Data Analyst Here'
print(x)
print(y)
print(z)

Data Analyst Here
Data Analyst Here
Data Analyst Here

In [8]:
ice_cream = ['Chocolate', 'Vanilla', 'Strawberry']

x,y,z = ice_cream
print(x)
print(y)
print(z)

Chocolate
Vanilla
Strawberry

In [10]:
#CamelCase

dataAnalystProfession = 'Successful'

In [ ]:
#CamelCase

dataAnalystProfession = 'Successful'

In [ ]:
#PascalCase

DataAnalystProfession = 'Successful'

In [ ]:
#SnakeCase

data_analyst_profession = 'Successful'

In [11]:
#Error
x="Data Analyst"+100

TypeError: can only concatenate str (not "int") to str

In [13]:
x='Ice-Cream'
y=' is my'
z=' favourite dish'

print(x+y+z)

Ice-Cream is my favourite dish

<b><u><h1>Data Types

In [14]:
type(-12+10)

int

In [15]:
type(12+12.54)

float

In [16]:
type(5+2j)

complex

In [17]:
#Boolean
type(True)

bool

In [18]:
#String
type('Data Scientist')

str

In [19]:
"Data  Analyst"

'Data  Analyst'

In [20]:
'Data Analyst'

'Data Analyst'

In [22]:
multiLine = """Data Analyst is great career
You can learn a lot from it
You can contribute to the development of the firm too."""

print(multiLine)

Data Analyst is great career
You can learn a lot from it
You can contribute to the development of the firm too.

In [24]:

multiLine = """
I've always wanted to become a "Data Analyst"
"""

print(multiLine)

I've always wanted to become a "Data Analyst"

In [26]:
a="Data"
print((a+" ")*4)

Data Data Data Data

In [27]:
#List

[1,2,3,4,5]

[1, 2, 3, 4, 5]

In [28]:
['Strawberry', 5, ['Cup', 'Glass'], True]

['Strawberry', 5, ['Cup', 'Glass'], True]

In [31]:
ice_cream = ['Chocolate', 'Vanilla', 'Strawberry']

ice_cream.append('Kesar Badam')

print(ice_cream)

['Chocolate', 'Vanilla', 'Strawberry', 'Kesar Badam']

In [32]:
nest_list = ['Strawberry', 5, ['Cup', 'Glass'], True]

print(nest_list[2][1])

Glass

In [47]:
#Dictionaries
dic_ice_cream = {'name': 'Data Analyst', 'weekly intake': 4, 'Favorite ice cream': ['Strawberry', 'Butter Scotch']}

In [32]:
print(dic_ice_cream.keys())

dict_keys(['name', 'weekly intake', 'Favorite ice cream'])

In [34]:
print(dic_ice_cream.values())

dict_values(['Data Analyst', 4, ['Strawberry', 'Butter Scotch']])

In [48]:
print(dic_ice_cream.items())

dict_items([('name', 'Data Analyst'), ('weekly intake', 4), ('Favorite ice cream', ['Strawberry', 'Butter Scotch'])])

In [39]:
print(dic_ice_cream)

{'name': 'Data Analyst', 'weekly intake': 4, 'Favorite ice cream': ['Strawberry', 'Butter Scotch']}

In [43]:
print(dic_ice_cream['Favorite ice cream'][1])

Butter Scotch

<b><u><h1>Comparision Operators

In [33]:
#tuple

tuple_cup = (1,2,3,2,1)

In [1]:
10==50

False

In [2]:
10!=50

True

In [3]:
"Strawberry" == "Strawberry"

True

In [4]:
x="Strawberry"
y="Vanila"

x!=y

True

In [5]:
10<10

False

In [7]:
10<=10

True

In [8]:
#Logical Operators

(10>50) and (50>10)

False

In [9]:
(10>50) or (50>10)

True

In [10]:
not(10>50)

True

In [11]:
#Membership Operators

ice_cream = "I love butter scotch ice-cream"

'love' in ice_cream

True

In [12]:
scoops = [1,4,5,6]

2 in scoops

False

<b><u><h1>Statement : If-Else-Elif

In [18]:
if 15>10:
    print('It works')

It works

In [15]:
if 15<10:
    print('It works')
else:
    print('It do not work')

It do not work

In [16]:
if 15<10:
    print('If works')
elif 15<25:
    print('Elif works')
else:
    print('Else works')

Elif works

In [19]:
print("It works") if 10>15 else print('It do not work')

It do not work

In [22]:
#Nested if statement

if (10<15) or (1<3):
    print('If works')
    if 10>5:
        print('Nested if works')
elif 15<11:
    print('Elif works')
else:
    print('Else works')

If works
Nested if works

<b><u><h1>For Lopps

In [26]:
integers = [1,2,3,4,5]

In [27]:
for number in integers:
    print(number)

1
2
3
4
5

In [28]:
for number in integers:
    print('Yes')

Yes
Yes
Yes
Yes
Yes

In [49]:
dict_ice_cream = {'name': 'Data Analyst', 'weekly intake': 4, 'Favorite ice cream': ['Strawberry', 'Butter Scotch']}

In [46]:
for ice in dict_ice_cream.values():
    print(ice)

Data Analyst
4
['Strawberry', 'Butter Scotch']

In [51]:
for key, values in dict_ice_cream.items():
    print(key,'-->', values)

name --> Data Analyst
weekly intake --> 4
Favorite ice cream --> ['Strawberry', 'Butter Scotch']

<b><u><h1>Nested FOr Loops

In [53]:
dishes = ['Pizza', 'Burger', 'French-Fries']
add_ons = ['Coke', 'Cheez','Myonnaise']

In [54]:
for one in dishes:
    for two in add_ons:
        print(one, " with ", two)

Pizza  with  Coke
Pizza  with  Cheez
Pizza  with  Myonnaise
Burger  with  Coke
Burger  with  Cheez
Burger  with  Myonnaise
French-Fries  with  Coke
French-Fries  with  Cheez
French-Fries  with  Myonnaise

<b><u>While Loops<b><u>

In [1]:
number = 0
while number<5:
    print(number)
    number = number + 1

0
1
2
3
4

In [7]:
#break
number = 0
while number<5:
    print(number)
    if number == 3:
        break
    number = number + 1

0
1
2
3

In [8]:
#Else works when while loop no longer work.
number = 0
while number<5:
    print(number)
    if number == 6:
        break
    number = number + 1
else:
    print("No longer less than 5")

0
1
2
3
4
No longer less than 5

In [11]:
#Continue.

number = 0
while number<5:
    number = number + 1
    if number == 3:
        continue   
    print(number)    
else:
    print("No longer less than 5")

1
2
4
5
No longer less than 5

<b><u><h1>Functions

In [14]:
def func():
    print("Function work well")
    
func()

Function work well

In [19]:
def number_squared(number):
    print(number**2)
    
number_squared(5)

25

In [23]:
args_tuple=(5,6,1,2)

def number_args(*number):
    print(number[0]*number[1])
    
number_args(*args_tuple)

30

In [28]:
def num_square_manual(number, power):
    print(number**power)

In [30]:
num_square_manual(number=10, power=2)

100

In [43]:
def multiple_num_show(**number):
    print("My number is: " + number['integer1'] + " My other number is: " + number['integer2'])

In [44]:
multiple_num_show(integer1='180280', integer2='789827')

My number is: 180280 My other number is: 789827

<b><u><h1>Convert Data Types

In [51]:
num_int = 70

type(num_int)

int

In [49]:
num_str = '70'
type(num_str)

str

In [52]:
#Error
num_concate = num_int + num_str

print(num_concate)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [54]:
#Conversion
num_concate_convt = num_int + int(num_str)

print(num_concate)
type(num_concate_convt)

7070

int

In [56]:
#List to tuple
list = [1,3,5]
type(list)

list

In [58]:
type(tuple(list))

tuple

In [59]:
type(list)

list

In [60]:
#list to set
list2=[1,2,4,6,8]

In [61]:
set(list2)

{1, 2, 4, 6, 8}

In [2]:
#Dictionary to list
dict_org = {'name': 'Data Wala', 'age':29, 'gender': 'N/A'}

type(dict_org)

dict

In [71]:
type(dict_org.values())

dict_values

In [72]:
type(dict_org.keys())

dict_keys

In [74]:
print(dict_org.values())

dict_values(['Data Wala', 29, 'N/A'])

In [4]:
print(dict_org.keys())

dict_keys(['name', 'age', 'gender'])

In [9]:
list(dict_org.keys())

['name', 'age', 'gender']

In [8]:
type(list(dict_org.keys()))

list

In [10]:
list(dict_org.values())

['Data Wala', 29, 'N/A']

In [11]:
type(list(dict_org.keys()))

list

In [13]:
#long list to string
long_str = "I like to party"

list(long_str)

['I', ' ', 'l', 'i', 'k', 'e', ' ', 't', 'o', ' ', 'p', 'a', 'r', 't', 'y']

In [14]:
#long list to set
long_str = "I like to party"

set(long_str)

{' ', 'I', 'a', 'e', 'i', 'k', 'l', 'o', 'p', 'r', 't', 'y'}